
body, html{
    background: black;
    font-family: sans-serif;
    color: azure;
}
/* header of the page */
.header, .media-body, .media{
    border-bottom: solid azure 3px;
    margin-bottom: 3%;
}
.header h1{
    font-size: 3em;
    text-align: center;
}
.header a{
    font-size: 1em;
    text-align: center;
    padding-top: 1em;
}
#aboutImg{
    max-width: 100%; 
    height: auto;
    margin-left: 12px;
}
@media only screen and (max-width: 1024px){
    .media, .media-body {
        margin-left: 12px;
    }
}