body{
  background: url("https://wi-images.condecdn.net/image/B1NZW376pxM/crop/1620/f/space_11.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}