/* Setting some global styling */
body, html{
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  height: 100%;;
}
/* Removing the scroll bar */
html {
  overflow-y: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0px; 
}

/* creating a space backgroudn */
body{
  background: url("assets/156729.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Styling the header */
.header {
  position: relative;
  top: 0;
  width: 100%;
  background-color: black;
  height: 100px;
}
.header > h1{
  font-size: 3em;
  color: white;
  width: 20%;
  text-align: center;
  padding: calc(calc(100px - 2.75em) / 2 * -1) 0;
  margin: 0;
}

/* Positioning for elements */
/* sidebar */
.sidebar > a > * {
  color: white;
  text-decoration: underline; 
}
.sidebar{
  width: 20%;
  float: left;
  text-align: center;
  background-color: rgb(151, 115, 98);
  height: calc(100% - 100px);
  overflow: none;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
}
.sidebar> a:first-child{
  padding-top: 20px;
}

/* projects section */
.outer-container{
  width: 80%;
  float: right;
  height: calc(100% - 100px);
  overflow: auto;
}
.inner-container{
  display: flex;
  align-items: left;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
}

/* Styling the layout for all sections */
.section-container{
  width: 100%;
  margin-bottom: 1%;
  padding: 1.5% 0;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.section-container:last-child{
  margin-bottom: 0;
}

/* alternating the sides the logos are on for the sections */
.background-image{
  width: 5%;
  height: auto;
  margin-left: 5%;
}
/* Styling the information portion */
.main-section{
  width: 90%;
}
.main-section > header{
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}
.main-section > header > h2{
  font-size: 2.5em;
  margin: 0;
}
.main-section > header > img {
  width: 5%;
  height: auto;
}
.main-section > header > a {
  font-size: 2em;
  color: white;
}
.main-section > p{
  font-size: 1.2em;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.main-section > video {
  width: 100%;
  overflow: hidden;
}
.screenShots{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.screenShots > * {
  width: 45%;
  height: 35vh;
  margin: 10px 2.5%;
}

/* Individual styling for each section */
/* Nexus gaming series section */
.NGS{
  background-image: linear-gradient(to right, rgb(196, 87, 41), #482262);
  color: white;
}

/* Java game section */
.Java{
  background-image: linear-gradient(to left, rgb(65, 138, 151), black);
  color: white;
}
.Java > .screenShots > * {
  width: 200px;
  height: 200px;
  margin: 20 auto;
}
.FFX{
  background-image: linear-gradient(to right, rgb(180, 155, 121), darkgreen);
  color: white;
}

/* MEPrice section */
.MEPrice{
  background-image: linear-gradient(to left, rgb(153, 37, 153), rgb(44, 19, 19));
  color: white;
}

/* The Geeze section */
.TheGeeze{
  background-image: linear-gradient(to left, rgb(1, 21, 44), rgb(223, 22, 22));
  color: white;
}

/* This section is for styling the footer */
/* This section holds the social media 'icons' */
footer{
  margin-top: auto;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;

  width: 100%;
}
/* making it so the social media icons match in size */
footer>a{
  display: block;
  width: 20%;
  margin: 0 10%;
}
footer > h3 {
  color: white;
  font-size: 1em;
  width: 100%;
}
footer>a>img{
  width: 100%;
  height: auto;

}


/* About section */
.about-outer-container{
  width: 80%;
  float: right;
  height: calc(100% - 100px);
  overflow: auto;
}
.about-inner-container{
  display: flex;
  align-items: left;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 80%;
  margin: 0 auto;
  background-color: aqua;
}
.about-inner-container > p {
  padding: 20px;
  margin: 0;
  color: black;
  font-size: 1.1em;
}
.about-inner-container > h1 {
  font-size: 2.5em;
  color: white;
  padding: 20px;
  margin: 0;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/* skills */
.skills{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  width: 95%;
  margin: 0 auto;
}

.skills > img {
  height: 75px;
  width: auto;
  margin: 10px 20px;
}